<ul class="nav-list">
    <li>
        <NavLink href="" Match="NavLinkMatch.All">
            📝 Notes
        </NavLink>
    </li>
    <li>
        <NavLink href="counter">
            🔢 Counter
        </NavLink>
    </li>
    <li>
        <NavLink href="weather">
            🌤 Weather
        </NavLink>
    </li>
</ul>
