@page "/"
@inherits Microsoft.AspNetCore.Components.ComponentBase

<h1>Hello, world!</h1>

Welcome to your new Cosmo Razor Server app.

<div class="alert alert-info mt-4">
    This page is rendered using high-performance SSR Razor Components.
</div>
