<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CosmoBlazorSample</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="fetchdata">
                <span class="bi bi-list-ul" aria-hidden="true"></span> Fetch data
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="login">
                <span class="bi bi-person-fill" aria-hidden="true"></span> Login
            </a>
        </div>
    </nav>
</div>
